* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import _grid;

                            /* Header */

header {
	height: 50px;
	background-color: #313234;
    nav img {
        padding: 10px 0;
    }
    nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        float: right;
        li {
            display:inline-block;
            a {
                line-height: 50px;
                padding: 0 20px;
                display: block;
                color: $firstcolor;
                text-decoration: none; 
                text-transform: uppercase;
                &:hover {
                    background-color: #454649;
                }
            }
        }
    }
}
/* Welcome */

.hero {
    height: 400px;
    background-image: url("https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    .slogan {
        float: right;
        max-width: 400px;
        height: 100px;
        background-color: rgba(0,0,0,0.3);
        margin: 150px 0;
        color: $firstcolor;   
        h1 {
            font-weight: lighter;
        }
        span {
            font-weight: bold;
        }
    }
}